<div class="jumbotron hero-spacer">
  <h1>A Warm Welcome!</h1>
  <p><i>Thurgood Manager</i> is the best way to manage the Thurgood API. Built from fluffy bits of 0's and 1's, with support from AngularJS and Bootstrap, it just screams slickness and performance. Because an awesome API deserves an awesome app!</p>
  <h3>Why it rocks</h3>
  <ul>
    <li>Table can be sorted, includes search, pagination and choice of displayed items</li>
    <li>Job's detail page included; when you press back the previous table state is restored</li>
    <li>Module-based structured app, endpoint is encapsulated as a factory resource (in services.js)</li>
    <li>Loading and errors both handled within an alert</li>
  </ul>
</div>
