<form action="https://papertrailapp.com/distributors/session" method="post" id="papertrail">
<input type="hidden" name="account_id" value="{{job.userId}}">
<input type="hidden" name="user_id" value="{{job.userId}}">
<input type="hidden" name="timestamp" value="{{timestamp}}">
<input type="hidden" name="token" value="{{token}}"> 
<input type="hidden" name="distributor" value="{{distributor}}">
<input type="hidden" name="email" value="{{job.email}}">
<input  type="hidden" name="system_id"  value="{{system}}">
</form>

<div class="page-header">
  <button type="button" class="btn btn-primary pull-right" ng-show="job._id" ng-click="editModal()">Edit</button>
  <button type="button" class="btn btn-primary pull-right" onclick="document.forms['papertrail'].submit();">Event Viewer</button>
  <button type="button" class="btn btn-primary pull-right" ng-show="job._id" ng-click="submitJob()">Submit</button>  
  <a href="javascript:history.back()" class="back"><i class="icon-chevron-left"></i></a>
  <h1>Jobs/{{jobId}}</h1>
</div>

<div class="alert alert-danger detail" ng-show="!loading && error">
  <h2>{{error}}</h2>
</div>
<div class="well detail" ng-show="(loading && !error) || job._id">
  <div class="loading" ng-show="loading && !error">
    <h2>Loading...</h2>
  </div>
  <form class="form-horizontal" ng-show="job._id">
    <fieldset>
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Job ID</span>
        <span class="col-lg-10 detail-value">{{job._id}}</span>
      </div>
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Status</span>
        <span class="col-lg-10 detail-value">{{job.status}}</span>
      </div>      
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Code URL</span>
        <span class="col-lg-10 detail-value"><a href="{{job.codeUrl}}" ng-show="job.codeUrl && job.codeUrl != 'null'" target="_blank">{{job.codeUrl}}</a>{{!(job.codeUrl && job.codeUrl != 'null')?'null':''}}</span>
      </div>
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Platform</span>
        <span class="col-lg-10 detail-value">{{job.platform}}</span>
      </div>
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Language</span>
        <span class="col-lg-10 detail-value">{{job.language}}</span>
      </div>
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Steps </span>
        <span class="col-lg-10 detail-value">{{job.steps}}</span>
      </div>            
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">User ID</span>
        <span class="col-lg-10 detail-value">{{job.userId}}</span>
      </div>
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">User Email</span>
        <span class="col-lg-10 detail-value">{{job.email}}</span>
      </div>
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Notification</span>
        <span class="col-lg-10 detail-value">{{!(job.notification == 'null') ? job.notification:'&nbsp;'}}</span>
      </div>      
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Project</span>
        <span class="col-lg-10 detail-value">{{!(job.project == 'null') ? job.project:'&nbsp;'}}</span>
      </div>      
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Start Time</span>
        <span class="col-lg-10 detail-value">{{!(job.startTime == 'null') ? job.startTime:'&nbsp;'}}</span>
      </div>
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">End Time</span>
        <span class="col-lg-10 detail-value">{{!(job.endTime == 'null') ? job.endTime:'&nbsp;'}}</span>
      </div>
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Created At</span>
        <span class="col-lg-10 detail-value">{{job.createdAt}}</span>
      </div>
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Updated At</span>
        <span class="col-lg-10 detail-value">{{job.updatedAt}}</span>
      </div>
      <div class="form-group">
        <span class="col-lg-2 control-label detail-key">Logger ID</span>
        <span class="col-lg-10 detail-value">{{job.loggerId}}</span>
      </div>
    </fieldset>
  </form>
</div>

<!-- Modal template -->
<script type="text/ng-template" id="jobsEditModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Update job</h3>
      </div>
      <div class="modal-body mModal">
        <div class="alert alert-{{status == 'Updating job...' || status == 'SUCCESS' ? 'success' : 'danger'}} mModal" ng-show="status">
          <h4><span ng-show="status == 'SUCCESS'">Job <a href="#/jobs/{{jobId}}" ng-click="cancel()">{{jobId}}</a> updated successfully!</span>{{status == 'SUCCESS' ? '' : status}}</h4>
        </div>
        <div class="form-horizontal">
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Code URL</span>
            <div class="col-lg-9 s3Upload">
              <div>
                <input type="text" class="form-control mModal-input" ng-model="job.codeUrl" placeholder="Code URL">
              </div>
              <form id="s3UploadForm" action="//cs-thurgood-jobsupload.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
                <input type="hidden" name="key" value="thurgood/{{job.id}}-${filename}">
                <input type="hidden" name="acl" value="public-read">
                <input type="hidden" name="AWSAccessKeyId" value="AKIAIPSE5AIYKGE6T7WA"> 
                <input type="hidden" name="policy" value="ewogICJleHBpcmF0aW9uIjogIjIwMTUtMDEtMDFUMTI6MDA6MDAuMDAwWiIsCiAgImNvbmRpdGlvbnMiOiBbCiAgICB7ImJ1Y2tldCI6ICJjcy10aHVyZ29vZC1qb2JzdXBsb2FkIiB9LAogICAgeyJhY2wiOiAicHVibGljLXJlYWQiIH0sCiAgICBbInN0YXJ0cy13aXRoIiwgIiRrZXkiLCAidGh1cmdvb2QvIl0sCiAgXQp9">
                <input type="hidden" name="signature" value="+ZtmNFaLTSs0I8JkbpVBS4NpXiY=">
                <input type="submit">
                <div class="clickArea">
                  <input type="file" name="file" onchange="angular.element(this).scope().fileNameChanged(this.files[0])">
                  <button class="btn btn-primary" ng-click="uploadFile()"><i class="icon-cloud-upload"></i></button>
                </div>
              </form>
            </div>
          </div>  
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Platform</span>
            <div class="col-lg-9">
              <select class="form-control mModal-input" ng-model="job.platform" ng-options="p for p in platforms"></select>
            </div>
          </div>
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Language</span>
            <div class="col-lg-9">
              <select class="form-control mModal-input" ng-model="job.language" ng-options="lang.toString() for lang in languages"></select>
            </div>
          </div>
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Steps</span>
            <div class="col-lg-9">
              <select class="form-control mModal-input" ng-model="job.steps" ng-options="s for s in steps"></select>
            </div>
          </div>                  
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">User ID</span>
            <div class="col-lg-9">
              <input type="text" class="form-control mModal-input" ng-model="job.userId" placeholder="User ID">
            </div>
          </div>
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">User Email</span>
            <div class="col-lg-9">
              <input type="text" class="form-control mModal-input" ng-model="job.email" placeholder="User Email">
            </div>
          </div>
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Notification</span>
            <div class="col-lg-9">
              <select class="form-control mModal-input" ng-model="job.notification" ng-options="n for n in notifications"></select>
            </div>
          </div>    
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Project</span>
            <div class="col-lg-9">
              <input type="text" class="form-control mModal-input" ng-model="job.project" placeholder="Project name (optional)">
            </div>
          </div>          
        </div>
        <div class="alert alert-danger mModal" ng-show="uploadWarning">
          <h4>{{uploadWarning}}</h4>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary{{status == 'Updating job...' ? ' disabled' : ''}}" ng-click="update()">Update</button>
        <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</script>
