<div class="page-header">
  <button type="button" class="btn btn-primary pull-right" ng-click="createModal()">New Job</button>
  <input type="text" class="form-control pull-right search" ng-model="searchText" placeholder="Search">
  <h1>Jobs{{totalItems >= 0 ? ' (' + totalItems + ')' : ''}}</h1>
</div>

<table ng-table="tableParams" template-pagination="jobsTablePagination" class="table table-striped table-bordered table-hover">
  <tr ng-repeat="row in tableRows">
    <td data-title="'Job ID'" sortable="_id"><a href="#/jobs/{{row._id}}">{{row._id}}</a></td>
    <td data-title="'Platform'" sortable="platform">{{row.platform}}</td>
    <td data-title="'Language'" sortable="language">{{row.language}}</td>
    <td data-title="'Project'" sortable="project">{{row.project}}</td>
    <td data-title="'User'" sortable="userId">{{row.userId}}</td>
    <td data-title="'Status'" sortable="status">{{row.status}}</td>
  </tr>
</table>

<!-- Modal template -->
<script type="text/ng-template" id="jobsCreateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Create job</h3>
      </div>
      <div class="modal-body mModal">
        <div class="alert alert-{{status == 'Creating job...' || status == 'SUCCESS' ? 'success' : 'danger'}} mModal" ng-show="status">
          <h4><span ng-show="status == 'SUCCESS'">Job <a href="#/jobs/{{jobId}}" ng-click="cancel()">{{jobId}}</a> created successfully!</span>{{status == 'SUCCESS' ? '' : status}}</h4>
        </div>
        <div class="form-horizontal">
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Code URL</span>
            <div class="col-lg-9 s3Upload">
              <div>
                <input type="text" class="form-control mModal-input" ng-model="job.codeUrl" placeholder="Code URL">
              </div>
              <form id="s3UploadForm" action="https://cs-test-jeff.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
                <input type="hidden" name="key" value="thurgood/{{timestamp}}-${filename}">
                <input type="hidden" name="acl" value="public-read">
                <input type="hidden" name="AWSAccessKeyId" value="AKIAJXNGEXQID3CELIVA"> 
                <input type="hidden" name="policy" value="{{policy}}">
                <input type="hidden" name="signature" value="{{signature}}">
                <input type="submit">
                <div class="clickArea">
                  <input type="file" name="file" onchange="angular.element(this).scope().fileNameChanged(this.files[0])">
                  <button class="btn btn-primary" ng-click="uploadFile()"><i class="icon-cloud-upload"></i></button>
                </div>
              </form>
            </div>
          </div>
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Platform</span>
            <div class="col-lg-9">
              <select class="form-control mModal-input" ng-model="job.platform" ng-options="p for p in platforms"></select>
            </div>
          </div>
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Language</span>
            <div class="col-lg-9">
              <select class="form-control mModal-input" ng-model="job.language" ng-options="lang for lang in languages"></select>
            </div>
          </div>
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Steps</span>
            <div class="col-lg-9">
              <select class="form-control mModal-input" ng-model="job.steps" ng-options="step for step in steps"></select>
            </div>
          </div>                   
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">User ID</span>
            <div class="col-lg-9">
              <input type="text" class="form-control mModal-input" ng-model="job.userId" placeholder="User ID">
            </div>
          </div>
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">User Email</span>
            <div class="col-lg-9">
              <input type="text" class="form-control mModal-input" ng-model="job.email" placeholder="User Email">
            </div>
          </div>
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Notification</span>
            <div class="col-lg-9">
              <select class="form-control mModal-input" ng-model="job.notification" ng-options="n for n in notifications"></select>
            </div>
          </div>                     
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Project</span>
            <div class="col-lg-9">
              <input type="text" class="form-control mModal-input" ng-model="job.project" placeholder="Project name (optional)">
            </div>
          </div>    
          <div class="form-group">
            <span class="col-lg-3 control-label mModal-key">Logger ID</span>
            <div class="col-lg-9">
              <input type="text" class="form-control mModal-input" ng-model="job.loggerId" placeholder="Logger ID (optional)">
            </div>
          </div>      
        </div>
        <div class="alert alert-danger mModal" ng-show="uploadWarning">
          <h4>{{uploadWarning}}</h4>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary{{status == 'Creating job...' ? ' disabled' : ''}}" ng-click="create()">Create</button>
        <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</script>

<!-- Custom pagination template -->
<script type="text/ng-template" id="jobsTablePagination">
  <div class="well loading" ng-show="(loading || params.total === 0) && !error">
    <h2>{{loading ? 'Loading...' : 'No jobs found.'}}</h2>
  </div>
  <div class="alert alert-danger" ng-show="!loading && error">
    <h2>{{error}}</h2>
  </div>
  <ul class="pager ng-cloak" ng-show="params.total > 0">
    <li ng-repeat="page in pages" ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}" ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
      <a ng-switch-when="prev" ng-click="goToPage(page.number)" class="btn btn-primary btn-pagination">« Previous</a>
      <a ng-switch-when="next" ng-click="goToPage(page.number)" class="btn btn-primary btn-pagination">Next »</a>
    </li>
    <li>
      <!-- Count per page -->
      <div class="btn-group">
        <button type="button" ng-class="{'active':params.count == 10}" ng-click="changeCount(10)" class="btn btn-primary">10</button>
        <button type="button" ng-class="{'active':params.count == 25}" ng-click="changeCount(25)" class="btn btn-primary">25</button>
        <button type="button" ng-class="{'active':params.count == 50}" ng-click="changeCount(50)" class="btn btn-primary">50</button>
        <button type="button" ng-class="{'active':params.count == 100}" ng-click="changeCount(100)" class="btn btn-primary">100</button>
      </div>
    </li>
  </ul>
</script>
