<div class="page-header">
  <h1>Jobs/{{jobId}}</h1>
</div>

<div class="alert alert-danger detail" ng-show="!loading && error">
  <h2>{{error}}</h2>
</div>

<form action="https://papertrailapp.com/distributors/session" method="post" target="_blank">
<input type="hidden" name="account_id" value="{{job.userId}}">
<input type="hidden" name="user_id" value="{{job.userId}}">
<input type="hidden" name="timestamp" value="{{timestamp}}">
<input type="hidden" name="token" value="{{token}}"> 
<input type="hidden" name="distributor" value="{{distributor}}">
<input type="hidden" name="email" value="{{job.email}}">
<input  type="hidden" name="system_id"  value="{{system}}">

<div class="form-group"  ng-show="(!loading && !error)">
    <div class="col-lg-offset-0 col-lg-10">
        <button type="submit" class="btn btn-primary">
            Open Papertrail Event Viewer
        </button>
    </div>
</div>

</form>