<div class="jumbotron hero-spacer">
  <h1>A Warm Welcome{{ name ? ', ' + name : '' }}!</h1>
  <p><i>Thurgood Manager</i> is the best way to manage the Thurgood API. Built from fluffy bits of 0's and 1's, with support from AngularJS and Bootstrap, it just screams slickness and performance. Because an awesome API deserves an awesome app!</p>
  <h3>Instructions</h3>
  <ul>
    <li>Login with your Appirio credentials.</li>
    <li>Create a new job or search for an existing job by keyword from the "Jobs" menu.</li>
    <li>Once you create your job and ensure that it looks correct, submit the job for processing.</li>
    <li>While the job is processing, click the "Event Viewer" button to open the log viewer to see the process of the job.</li>
    <li>When creating a job, if you select "email" as the notification method, you will receive an email once the job has completed.</li>
    <li>You can submit a job as many times as you would like. Simpy upload new code to the same URL or change the URL of the job.</li>
    <li>When creating a job you can specify the "steps" to perform. Supported steps are "all" and "scan". The "scan" step will just peform a Checkmarx scan while "all" will perform a Checkmarx scan plus build, test and deploy. Default is "all".</li>
    <li>You can also specify a project for your job and tie the build process to a specific server (e.g., salesforce org). Contact jeff@appirio.com to set this up.</li>
  </ul>

  <h3>Force.com Projects</h3>
  <p>
    If you are creating a job for Force.com code,
    it is easiest to create it from your Eclipse project with the
    <a href="http://www.salesforce.com/us/developer/docs/api_meta/Content/manifest_samples.htm" target="_blank">manifest structure</a>.
    Just right click on the 'src' directory from Eclipse and zip up everything you want submitted.
    Your zip file should unzip in the following structure:
  </p>

  <p class="pic-wrap"><img src="/img/submission-structure.png"></p>

  <p>
    Take a look at the
    <a href="https://github.com/appirio-tech/thurgood" target="_blank">source code</a>
    if you need more info.
  </p>
</div>
